---
layout: page
title: LSWT2019
language: de
type: Event
rdf_prefix_path: _data/prefixes.sparql
---

<div class="section" id="HomeSection" data-anchor="Home">
</div>

<div class="section" id="DateSection" data-anchor="Date">
  <div class="container">
    <div class="jumbotron">
      #LSWT2019
      <h1 class="display-4">{{ page.rdf | rdf_property: "rdfs:label" }}</h1>
      <p class="lead">Der Leipziger Semantic Web Tag (LSWT) bietet seit 2009 WissenschaftlernInnen, Unternehmen und Organisationen die Möglichkeit, sich zu Themen im Bereich semantischer Technologien auszutauschen.
      Diese Schwerpunkte werden im Rahmen von Vorträgen durch ExpertenInnen aus Industrie und Wissenschaft demonstriert (<a href="#Programm">Programm</a>).
      Falls Sie weitere Fragen haben können Sie sich auch gerne an das <a href="#Team">Organisations-Team</a> wenden.</p>

      <dl>
        <dt>Anmeldung</dt>
        <dd>{{ page.rdf | rdf_property: "site:registrationPage" | markdownify }}</dd>
        <dt>Datum</dt>
        <dd>{{ page.rdf | rdf_property: "schema:startDate" | date: "%-d. %B %Y" }}</dd>
        <dt>Ort</dt>
        {% assign location = page.rdf | rdf_property: "schema:location" %}
        <dd><a href="{{ location.page_url }}">{% include address.html %}</a></dd>
      </dl>
    </div>
  </div>
</div>

<div class="section" id="LocationSection" data-anchor="Location">
  <div class="container">
    <div class="jumbotron">
      <h2 class="display-4">Veranstaltungsort</h2>

      <p>{% include address.html %} (<a href="{{ location | rdf_property: "rdfs:seeAlso" }}">Hier geht es zum INNSIDE</a>)</p>
      <p>Das INNSIDE by Meliá Leipzig liegt im Herzen der Stadt gegenüber der Thomaskirche.</p>

      {% assign mapboxDiff = 0.00223964452743 %}
      <iframe frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox={{ location | rdf_property: "geo:long" | minus: mapboxDiff }}%2C{{ location | rdf_property: "geo:lat" | minus: mapboxDiff }}%2C{{ location | rdf_property: "geo:long" | plus: mapboxDiff }}%2C{{ location | rdf_property: "geo:lat" | plus: mapboxDiff }}&amp;layer=mapnik&amp;marker={{ location | rdf_property: "geo:lat" }}%2C{{ location | rdf_property: "geo:long" }}" style="border: 1px solid black" width="100%"></iframe>
      <p><small><a href="https://www.openstreetmap.org/?mlat={{ location | rdf_property: "geo:lat" }}&amp;mlon={{ location | rdf_property: "geo:long" }}#map=19/{{ location | rdf_property: "geo:lat" }}/{{ location | rdf_property: "geo:long" }}">Größere Karte anzeigen</a></small></p>
    </div>
  </div>
</div>

<div class="section" id="ProgrammSection" data-anchor="Programm">
  <div class="container">
    <div class="jumbotron">
      <h2 class="display-4">Programm</h2>

      <em>Das Programm kann sich jederzeit ohne Vorankündigung ändern.</em>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Vorträge</th>
            <th scope="col">Tutorials</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><em>wird bekannt gegeben</em></td>
            <td><em>wird bekannt gegeben</em></td>
          </tr>
          <tr>
            <td>09.00 bis 09.10</td>
            <td>Begrüßung</td>
            <td></td>
          </tr>
          <tr>
            <td>09.10 bis 09.40</td>
            <td>Keynote</td>
            <td></td>
          </tr>
          <tr>
            <td>09.40 bis 11.00</td>
            <td>wird bekannt gegeben</td>
            <td></td>
          </tr>
          <tr>
            <td>11.00 bis 11.15</td>
            <td>Kaffeepause</td>
            <td></td>
          </tr>
          <tr>
            <td>11.15 bis 12.15</td>
            <td>wird bekannt gegeben</td>
            <td></td>
          </tr>
          <tr>
            <td>13.30 bis 14.30</td>
            <td>wird bekannt gegeben</td>
            <td></td>
          </tr>
          <tr>
            <td>14.30 bis 15.30</td>
            <td>wird bekannt gegeben</td>
            <td></td>
          </tr>
          <tr>
            <td>15.30 bis 16.00</td>
            <td>Kaffeepause</td>
            <td></td>
          </tr>
          <tr>
            <td>16.00 bis 17.30</td>
            <td>wird bekannt gegeben</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      ab 17.30 Uhr Abschluss und „Eccenca Semantic Beergarden“
    </div>
  </div>
</div>

<div class="section light-theme" id="TeamSection" data-anchor="Team">
  <div class="container">
    <h2 class="display-4">Organisationsteam</h2>

    {% assign organizers = page.rdf | rdf_container: "schema:organizer" %}

    {% include organizers.html organizers=organizers %}
    {% assign studentprogram = page.rdf | rdf_property: "schema:subEvent" %}

    <h3 class="display-5">Organisationsteam des {{ studentprogram | rdf_property: "rdfs:label" }}</h3>

    {% assign studentorganizers = studentprogram | rdf_container: "schema:organizer" %}

    {% include organizers.html organizers=studentorganizers %}
  </div>
</div>


<div class="section light-theme" id="PartnerSection" data-anchor="Partner">
  <div class="container">
    <h2 class="display-4">Partner</h2>
    {% assign partners = page.rdf | rdf_container: "schema:partner" %}
    <div class="lswt-card-columns">
      {% for partner in partners %}
      <div class="card">
        <a href="{{ partner | rdf_property: "foaf:homepage" }}">
        <img src="{{ partner | rdf_property: "foaf:depiction" }}" class="w-100 px-3 py-3">
        </a>
      </div>
    {% endfor %}
    </div>

  </div>
</div>

<div class="section dark-theme" id="PreviousSection" data-anchor="PreviousEvents">
  <div class="container">
    <h2 class="display-4">Rückblick</h2>

    {% assign previousEvents = page.rdf | rdf_container: "schema:successorOf" %}
    <div class="lswt-card-columns">
    {% for prev in previousEvents %}
    <div class="card px-3 py-3"><h5 class="card-title"><a href="{{ prev.iri }}">{{ prev | rdf_property: "rdfs:label" }}</a></h5></div>
    {% endfor %}
    </div>
  </div>
</div>


<div class="section" id="ImpressumSection" data-anchor="Impressum">
  <div class="container">
    <h2 class="display-4">Impressum</h2>
    Diese Seite verwendet <strong>keine</strong> Cookies. Die Seite speichert die technischen Zugriffsdaten (IP-Adresse und User-Agent) zur Erkennung von Angriffen.
    Die Seite bindet Kartendaten des <a href="http://osm.org/">OpenStreetMap Projekts</a> ein.
    <ul class="nav flex-column">
      <li><a href="https://infai.org/das-institut/impressum/">Impressum</a></li>
      <li><a href="https://infai.org/das-institut/kontakt/">Kontaktformular</a></li>
      <li>Copyright {{ 'now' | date: "%Y" }} Institut für Angewandte Informatik e.V.</li>
    </ul>
  </div>
</div>
