{%- assign event = include.event -%}
{%- assign join = include.join -%}
{%- assign paragraph = include.paragraph -%}
{%- unless join -%}
{%- assign join = ", " -%}
{%- endunless -%}
{%- assign persons = "" | split: " " -%}

{%- assign performers = event | rdf_property: "schema:performer", nil, true -%}
{%- for performer in performers -%}
{%- assign description = performer | rdf_property: "dc:description" -%}
{%- assign homepage = performer | rdf_property: "foaf:homepage" -%}
{%- capture person -%}
{%- if homepage -%}
<a href="{{ homepage }}">{{ performer | rdf_property: "foaf:name" }}</a>
{%- else -%}
{{ performer | rdf_property: "foaf:name" }}
{%- endif -%}
{%- if description -%}
{{ description | markdownify | remove: "<p>" | remove: "</p>" | strip | prepend: ", " }}
{%- endif -%}
{%- endcapture -%}
{%- assign persons = person | concat: persons -%}
{%- endfor -%}

{%- if persons.first -%}
{%- if paragraph -%}
<p>{{ persons | join: join }}</p>
{%- else -%}
{{ persons | join: join }}
{%- endif -%}
{%- endif -%}
