---
layout: page
title: LSWT2019
type: Event
---
{% assign rootResource = site.rootResource | rdf_get %}

<div class="section" id="HomeSection" data-anchor="Home">
</div>

<div class="section" id="DateSection" data-anchor="Date">
  <div class="container">
    <div class="jumbotron">
      #LSWT2019
      <h1 class="display-4">{{ rootResource | rdf_property: "rdfs:label", page.language }}</h1>
      {{ rootResource | rdf_property: "rdfs:comment", page.language | markdownify }}

      <p><a href="{{ rootResource | rdf_property: "site:registrationPage" }}" role="button" class="btn btn-success">{{ "site:registrationPage" | rdf_property: "rdfs:label", page.language }}</a></p>

      <dl>
        <dt>{{ "schema:startDate" | rdf_property: "rdfs:label", page.language }}</dt>
        <dd>{{ rootResource | rdf_property: "schema:startDate" | localize: "%-d. %B %Y", page.language }}</dd>
        <dt>{{ "schema:location" | rdf_property: "rdfs:label", page.language }}</dt>
        {% assign location = rootResource | rdf_property: "schema:location" %}
        <dd><a href="{{ location.page_url }}">{% include address.html location=location %}</a></dd>
      </dl>
    </div>
  </div>
</div>

<div class="section" id="LocationSection" data-anchor="Location">
  <div class="container">
    <div class="jumbotron">
      <h2 class="display-4">{{ location | rdf_property: "rdfs:label", page.language }}</h2>

      {% assign seeAlso = location | rdf_property: "rdfs:seeAlso" %}
      <p>{% include address.html location=location %} (<a href="{{ seeAlso }}">{% include reifiedLabel.html subject=location predicate="rdfs:seeAlso" language=page.language %}</a>)</p>
      {{ location | rdf_property: "rdfs:comment", page.language | markdownify }}

      {% assign mapboxDiff = 0.00223964452743 %}
      {% if page.language == "en" %}
      {% assign showABiggerMap = "Show a bigger Map" %}
      {% else %}
      {% assign showABiggerMap = "Größere Karte anzeigen" %}
      {% endif %}
      <iframe frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox={{ location | rdf_property: "geo:long" | minus: mapboxDiff }}%2C{{ location | rdf_property: "geo:lat" | minus: mapboxDiff }}%2C{{ location | rdf_property: "geo:long" | plus: mapboxDiff }}%2C{{ location | rdf_property: "geo:lat" | plus: mapboxDiff }}&amp;layer=mapnik&amp;marker={{ location | rdf_property: "geo:lat" }}%2C{{ location | rdf_property: "geo:long" }}" style="border: 1px solid black" width="100%"></iframe>
      <p><small><a href="https://www.openstreetmap.org/?mlat={{ location | rdf_property: "geo:lat" }}&amp;mlon={{ location | rdf_property: "geo:long" }}#map=19/{{ location | rdf_property: "geo:lat" }}/{{ location | rdf_property: "geo:long" }}">{{ showABiggerMap }}</a></small></p>
    </div>
  </div>
</div>

<div class="section" id="ProgrammSection" data-anchor="Programm">
  <div class="container">
    <div class="jumbotron">
      {% if page.language == "en" %}
      {% assign programmLabel = "Schedule" %}
      {% assign programmDisclaimer = "The schedule might change without notice." %}
      {% assign mainEventType = "Presentations" %}
      {% else %}
      {% assign programmLabel = "Programm" %}
      {% assign programmDisclaimer = "Das Programm kann sich jederzeit ohne Vorankündigung ändern." %}
      {% assign mainEventType = "Vorträge" %}
      {% endif %}
      <h2 class="display-4">{{programmLabel}}</h2>

      <em>{{ programmDisclaimer }}</em>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">{{ mainEventType }}</th>
            <th scope="col">Tutorials</th>
            <th scope="col">Hackaton</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><em>@Kosmos</em></td>
            <td><em>@Tutorials</em></td>
            <td><em>@Big Idea Space</em></td>
          </tr>
          <tr>
            <td>09.00 bis 09.10</td>
            <td>Begrüßung</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>09.10 bis 09.40</td>
            <td>TBA - Prof. Dr. Andreas Both</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>09.40 bis 11.00</td>
            <td>wird bekannt gegeben</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>11.00 bis 11.15</td>
            <td>Kaffeepause</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>11.15 bis 12.15</td>
            <td>wird bekannt gegeben</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>12.15 bis 13.30</td>
            <td>Mittagspause</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>13.30 bis 14.30</td>
            <td>wird bekannt gegeben</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>14.30 bis 15.30</td>
            <td>wird bekannt gegeben</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>15.30 bis 16.00</td>
            <td>Kaffeepause</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>16.00 bis 17.30</td>
            <td>wird bekannt gegeben</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      ab 17.30 Uhr eccenca Semantic Beergarden (sponsored by <a href="https://www.eccenca.com/">eccenca GmbH</a>)
    </div>
  </div>
</div>

<div class="section light-theme" id="TeamSection" data-anchor="Team">
  <div class="container">
    {% assign organizers = rootResource | rdf_property: "schema:organizer" %}
    <h2 class="display-4">{{ organizers | rdf_property: "rdfs:label", page.language }}</h2>

    {% assign organizerTeam = organizers | rdf_container %}

    {% include organizers.html organizers=organizerTeam %}
    {% assign studentprogram = rootResource | rdf_property: "schema:subEvent" %}
    {% assign studentorganizers = studentprogram | rdf_property: "schema:organizer" %}

    <h3 class="display-5">{{ studentorganizers | rdf_property: "rdfs:label", page.language }}</h3>

    {% assign studentorganizersTeam = studentorganizers | rdf_container %}

    {% include organizers.html organizers=studentorganizersTeam %}
  </div>
</div>


<div class="section light-theme" id="PartnerSection" data-anchor="Partner">
  <div class="container">
    {% assign partners = rootResource | rdf_property: "schema:partner" %}
    <h2 class="display-4">{{ partners | rdf_property: "rdfs:label", page.language }}</h2>
    {% assign partnersList = partners | rdf_container %}
    <div class="lswt-card-columns">
      {% for partner in partnersList %}
      <div class="card">
        <a href="{{ partner | rdf_property: "foaf:homepage" }}">
        <img src="{{ partner | rdf_property: "foaf:depiction" }}" class="w-100 px-3 py-3">
        </a>
      </div>
    {% endfor %}
    </div>

  </div>
</div>

<div class="section dark-theme" id="PreviousSection" data-anchor="PreviousEvents">
  <div class="container">
    {% assign previousEvents = rootResource | rdf_property: "schema:successorOf" %}
    <h2 class="display-4">{{ previousEvents | rdf_property: "rdfs:label", page.language }}</h2>

    {% assign previousEventsList = previousEvents | rdf_container %}
    <div class="lswt-card-columns">
    {% for prev in previousEventsList %}
    <div class="card px-3 py-3"><h5 class="card-title"><a href="{{ prev.iri }}">{{ prev | rdf_property: "rdfs:label" }}</a></h5></div>
    {% endfor %}
    </div>
  </div>
</div>


<div class="section" id="ImpressumSection" data-anchor="Impressum">
  <div class="container">
    {% if page.language == "en" %}
    <h2 class="display-4">Technique</h2>
    This page is build with <a href="https://github.com/AKSW/jekyll-rdf">Jekyll RDF</a> + <a href="https://getbootstrap.com/">bootstrap</a> + <a href="https://alvarotrigo.com/fullPage/">fullPage.js</a>.
    <h2 class="display-4">Imprint</h2>
    <ul class="nav flex-column">
      <li><a href="https://infai.org/das-institut/impressum/">Imprint</a></li>
      <li><a href="#Datenschutz">Privacy Policy</a></li>
      <li><a href="https://infai.org/das-institut/kontakt/">Contact</a></li>
      <li>Copyright {{ 'now' | date: "%Y" }} Institut für Angewandte Informatik e.V.</li>
    </ul>
    {% else %}
    <h2 class="display-4">Technik</h2>
    Die Seite wurde mit <a href="https://github.com/AKSW/jekyll-rdf">Jekyll RDF</a> + <a href="https://getbootstrap.com/">bootstrap</a> + <a href="https://alvarotrigo.com/fullPage/">fullPage.js</a> gebaut.
    <h2 class="display-4">Impressum</h2>
    <ul class="nav flex-column">
      <li><a href="https://infai.org/das-institut/impressum/">Impressum</a></li>
      <li><a href="#Datenschutz">Datenschutzerklärung</a></li>
      <li><a href="https://infai.org/das-institut/kontakt/">Kontaktformular</a></li>
      <li>Copyright {{ 'now' | date: "%Y" }} Institut für Angewandte Informatik e.V.</li>
    </ul>
    {% endif %}
  </div>
</div>


<div class="section" id="DatenschutzSection" data-anchor="Datenschutz">
  <div class="container">
    {% include datenschutz.html %}
  </div>
</div>
