---
layout: page
title: LSWT2019
type: Event
---
{% assign rootResource = site.rootResource | rdf_get %}

<div class="section" id="HomeSection" data-anchor="Home">
</div>

<div class="section" id="DateSection" data-anchor="Date">
  <div class="container">
    <div class="jumbotron">
      #LSWT2019
      <h1 class="display-4">{{ rootResource | rdf_property: "rdfs:label", page.language }}</h1>
      {{ rootResource | rdf_property: "rdfs:comment", page.language | markdownify }}

      <p><a href="{{ rootResource | rdf_property: "site:registrationPage" }}" role="button" class="btn btn-success">{{ "site:registrationPage" | rdf_property: "rdfs:label", page.language }}</a></p>

      <dl>
        <dt>{{ "schema:startDate" | rdf_property: "rdfs:label", page.language }}</dt>
        <dd>{{ rootResource | rdf_property: "schema:startDate" | localize: "%-d. %B %Y", page.language }}</dd>
        <dt>{{ "schema:location" | rdf_property: "rdfs:label", page.language }}</dt>
        {% assign location = rootResource | rdf_property: "schema:location" %}
        <dd><a href="{{ location.page_url }}">{% include address.html location=location %}</a></dd>
      </dl>
    </div>
  </div>
</div>

<div class="section" id="LocationSection" data-anchor="Location">
  <div class="container">
    <div class="jumbotron">
      <h2 class="display-4">{{ location | rdf_property: "rdfs:label", page.language }}</h2>

      {% assign seeAlso = location | rdf_property: "rdfs:seeAlso" %}
      <p>{% include address.html location=location %} (<a href="{{ seeAlso }}">{% include reifiedLabel.html subject=location predicate="rdfs:seeAlso" language=page.language %}</a>)</p>
      {{ location | rdf_property: "rdfs:comment", page.language | markdownify }}

      {% assign mapboxDiff = 0.00223964452743 %}
      {% if page.language == "en" %}
      {% assign showABiggerMap = "Show a bigger Map" %}
      {% else %}
      {% assign showABiggerMap = "Größere Karte anzeigen" %}
      {% endif %}
      <iframe frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox={{ location | rdf_property: "geo:long" | minus: mapboxDiff }}%2C{{ location | rdf_property: "geo:lat" | minus: mapboxDiff }}%2C{{ location | rdf_property: "geo:long" | plus: mapboxDiff }}%2C{{ location | rdf_property: "geo:lat" | plus: mapboxDiff }}&amp;layer=mapnik&amp;marker={{ location | rdf_property: "geo:lat" }}%2C{{ location | rdf_property: "geo:long" }}" style="border: 1px solid black" width="100%"></iframe>
      <p><small><a href="https://www.openstreetmap.org/?mlat={{ location | rdf_property: "geo:lat" }}&amp;mlon={{ location | rdf_property: "geo:long" }}#map=19/{{ location | rdf_property: "geo:lat" }}/{{ location | rdf_property: "geo:long" }}">{{ showABiggerMap }}</a></small></p>
    </div>
  </div>
</div>

<div class="section" id="ProgrammSection" data-anchor="Programm">
  {% if page.language == "en" %}
  {% assign programmLabel = "Schedule" %}
  {% assign programmDisclaimer = "The schedule might change without notice." %}
  {% else %}
  {% assign programmLabel = "Programm" %}
  {% assign programmDisclaimer = "Das Programm kann sich jederzeit ohne Vorankündigung ändern." %}
  {% endif %}

  {%- assign rooms = rootResource | rdf_container: "site:rooms" -%}
  {% for room in rooms %}
  <div class="slide" data-anchor="{{ room | split: "#" | last }}">
    <div class="container">
      <div class="jumbotron jumbotron-program">
      <strong>{{programmLabel}}</strong>
      <em>{{ programmDisclaimer }}</em>
      <div>
      {%- assign roomsNav = rootResource | rdf_container: "site:rooms" -%}
      {% for roomNav in roomsNav %}
      {% if roomNav == room %}
      <h2 class="display-4" style="display: inline">{{ roomNav | rdf_property: "rdfs:label", page.language }}</h2>
      {% else %}
      <span><a href="#Programm/{{ roomNav | split: "#" | last }}">{{ roomNav | rdf_property: "rdfs:label", page.language }}</a></span>
      {% endif %}
      {% unless forloop.last %}
      •
      {% endunless %}
      {% endfor %}
      </div>

      {% capture events_query %}
      SELECT ?event WHERE {
        ?event schema:location <{{ room.iri }}>; schema:startDate ?date .
        <{{ rootResource.iri }}> schema:subEvent ?event .
      } ORDER BY ASC(?date)
      {% endcapture %}

      {% assign events = room | sparql_query: events_query %}
      {%- for events_row in events -%}
      {%- assign event = events_row.event -%}
      {%- assign start = event | rdf_property: "schema:startDate" | date: "%H.%M" -%}
      {%- assign end = event | rdf_property: "schema:endDate" | date: "%H.%M" -%}

      {% assign track = event | rdf_property: "site:track" %}
      {% assign pause = "lswt:pause" | rdf_get %}
      {% if track == pause %}
      <h3 class="pause">{{start}} bis {{end}}: {{ event | rdf_property: "rdfs:label", page.language }}</h3>
      {% else %}
      <h3 id="{{ event | split: "#" | last }}">{{start}} bis {{end}}: {{ event | rdf_property: "rdfs:label", page.language }}</h3>
      {% endif %}
      {% include performer.html event=event join="; " paragraph=true %}

      {% assign description = event | rdf_property: "dc:description", page.language %}
      {% if description %}
      <p>{{ description }}</p>
      {% endif %}

      {% capture subEvents_query %}
      SELECT ?event WHERE {
        <{{ event.iri }}> schema:subEvent ?event .
        ?event schema:startDate ?date .
      } ORDER BY ASC(?date)
      {% endcapture %}

      {% assign subEvents = event | sparql_query: subEvents_query  %}

      <ul>
      {% for subEvent_row in subEvents %}
      {% assign subEvent = subEvent_row.event %}

      <li><a id="{{ subEvent | split: "#" | last }}"></a>„{{ subEvent | rdf_property: "rdfs:label" }}“ – {% include performer.html event=subEvent join=", " %}</li>
      {% endfor %}
      </ul>
      {% endfor %}
      </div>
    </div>
  </div>
      {% endfor %}
</div>

<div class="section light-theme" id="TeamSection" data-anchor="Team">
  <div class="container">
    {% assign organizers = rootResource | rdf_property: "schema:organizer" %}
    <h2 class="display-4">{{ organizers | rdf_property: "rdfs:label", page.language }}</h2>

    {% assign organizerTeam = organizers | rdf_container %}

    {% include organizers.html organizers=organizerTeam %}
    {% assign studentprogram = rootResource | rdf_property: "schema:subEvent" %}
    {% assign studentorganizers = studentprogram | rdf_property: "schema:organizer" %}

    <h3 class="display-5">{{ studentorganizers | rdf_property: "rdfs:label", page.language }}</h3>

    {% assign studentorganizersTeam = studentorganizers | rdf_container %}

    {% include organizers.html organizers=studentorganizersTeam %}
  </div>
</div>

<div class="section light-theme" id="PartnerSection" data-anchor="Partner">
  <div class="container">
    {% assign partners = rootResource | rdf_property: "schema:partner" %}
    <h2 class="display-4">{{ partners | rdf_property: "rdfs:label", page.language }}</h2>
    {% assign partnersList = partners | rdf_container %}
    <div class="lswt-card-columns">
      {% for partner in partnersList %}
      <div class="card">
        <a href="{{ partner | rdf_property: "foaf:homepage" }}">
        <img src="{{ partner | rdf_property: "foaf:depiction" }}" class="w-100 px-3 py-3">
        </a>
      </div>
    {% endfor %}
    </div>

  </div>
</div>

<div class="section light-theme" id="HackatonSection" data-anchor="Hackaton">
  <div class="container">
    {% include hackaton.html %}
  </div>
</div>

<div class="section dark-theme" id="PreviousSection" data-anchor="PreviousEvents">
  <div class="container">
    {% assign previousEvents = rootResource | rdf_property: "schema:successorOf" %}
    <h2 class="display-4">{{ previousEvents | rdf_property: "rdfs:label", page.language }}</h2>

    {% assign previousEventsList = previousEvents | rdf_container %}
    <div class="lswt-card-columns">
    {% for prev in previousEventsList %}
    <div class="card px-3 py-3"><h5 class="card-title"><a href="{{ prev.iri }}">{{ prev | rdf_property: "rdfs:label" }}</a></h5></div>
    {% endfor %}
    </div>
  </div>
</div>

<div class="section" id="ImpressumSection" data-anchor="Impressum">
  <div class="container">
    {% if page.language == "en" %}
    <h2 class="display-4">Technique</h2>
    This page is build with <a href="https://github.com/AKSW/jekyll-rdf">Jekyll RDF</a> + <a href="https://getbootstrap.com/">bootstrap</a> + <a href="https://alvarotrigo.com/fullPage/">fullPage.js</a>.
    <h2 class="display-4">Imprint</h2>
    <ul class="nav flex-column">
      <li><a href="https://infai.org/das-institut/impressum/">Imprint</a></li>
      <li><a href="#Datenschutz">Privacy Policy</a></li>
      <li><a href="https://infai.org/das-institut/kontakt/">Contact</a></li>
      <li>Copyright {{ 'now' | date: "%Y" }} Institut für Angewandte Informatik e.V.</li>
    </ul>
    {% else %}
    <h2 class="display-4">Technik</h2>
    Die Seite wurde mit <a href="https://github.com/AKSW/jekyll-rdf">Jekyll RDF</a> + <a href="https://getbootstrap.com/">bootstrap</a> + <a href="https://alvarotrigo.com/fullPage/">fullPage.js</a> gebaut.
    <h2 class="display-4">Impressum</h2>
    <ul class="nav flex-column">
      <li><a href="https://infai.org/das-institut/impressum/">Impressum</a></li>
      <li><a href="#Datenschutz">Datenschutzerklärung</a></li>
      <li><a href="https://infai.org/das-institut/kontakt/">Kontaktformular</a></li>
      <li>Copyright {{ 'now' | date: "%Y" }} Institut für Angewandte Informatik e.V.</li>
    </ul>
    {% endif %}
  </div>
</div>


<div class="section" id="DatenschutzSection" data-anchor="Datenschutz">
  <div class="container">
    {% include datenschutz.html %}
  </div>
</div>
