---
layout: page
title: LSWT2019
type: Event
---
{% assign rootResource = site.rootResource | rdf_get %}

<div class="section" id="DateSection" data-anchor="Home">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">{{ rootResource | rdf_property: "rdfs:label", page.language }}</h1>
      {{ rootResource | rdf_property: "rdfs:comment", page.language | markdownify }}

      <p>
        <a href="{{ rootResource | rdf_property: "site:programm" }}" role="button" class="btn btn-success">{{ rootResource | rdf_property: "site:programm" | rdf_property: "rdfs:label", page.language }}</a>
        <a href="{{ rootResource | rdf_property: "site:registrationPage" }}" role="button" class="btn btn-success">{{ rootResource | rdf_property: "site:registrationPage" | rdf_property: "rdfs:label", page.language }}</a>
        <a href="{{ rootResource | rdf_property: "site:flyer" }}" role="button" class="btn btn-success">{{ rootResource | rdf_property: "site:flyer" | rdf_property: "rdfs:label", page.language }}</a>
      </p>

      <dl>
        <dt>{{ "schema:startDate" | rdf_property: "rdfs:label", page.language }}</dt>
        <dd>{{ rootResource | rdf_property: "schema:startDate" | localize: "%-d. %B %Y", page.language }}</dd>
        <dt>{{ "schema:location" | rdf_property: "rdfs:label", page.language }}</dt>
        {% assign location = rootResource | rdf_property: "schema:location" %}
        <dd><a href="{{ location.page_url }}">{% include address.html location=location %}</a></dd>
        <div class="tiny">
          © Simon Waldherr / https://commons.wikimedia.org/wiki/User:SimonWaldherr / CC BY-SA 4.0
        </div>
      </dl>
    </div>
</div>
</div>

<div class="section" id="LocationSection" data-anchor="Location">
  <div class="container">
    <div class="jumbotron">
      <h2 class="display-4">{{ location | rdf_property: "rdfs:label", page.language }}</h2>

      {% assign seeAlso = location | rdf_property: "rdfs:seeAlso" %}
      <p>{% include address.html location=location %} (<a href="{{ seeAlso }}">{% include reifiedLabel.html subject=location predicate="rdfs:seeAlso" language=page.language %}</a>)</p>
      {{ location | rdf_property: "rdfs:comment", page.language | markdownify }}

      {% assign mapboxDiff = 0.00223964452743 %}
      {% if page.language == "en" %}
      {% assign showABiggerMap = "Show a bigger Map" %}
      {% else %}
      {% assign showABiggerMap = "Größere Karte anzeigen" %}
      {% endif %}
      <iframe frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox={{ location | rdf_property: "geo:long" | minus: mapboxDiff }}%2C{{ location | rdf_property: "geo:lat" | minus: mapboxDiff }}%2C{{ location | rdf_property: "geo:long" | plus: mapboxDiff }}%2C{{ location | rdf_property: "geo:lat" | plus: mapboxDiff }}&amp;layer=mapnik&amp;marker={{ location | rdf_property: "geo:lat" }}%2C{{ location | rdf_property: "geo:long" }}" style="border: 1px solid black" width="100%"></iframe>
      <p><small><a href="https://www.openstreetmap.org/?mlat={{ location | rdf_property: "geo:lat" }}&amp;mlon={{ location | rdf_property: "geo:long" }}#map=19/{{ location | rdf_property: "geo:lat" }}/{{ location | rdf_property: "geo:long" }}">{{ showABiggerMap }}</a></small></p>
      </div>
  </div>
</div>

<div class="section light-theme" id="PartnerSection" data-anchor="Partner">
  <div class="container">
    {% assign partners = rootResource | rdf_property: "schema:partner" %}
    <h2 class="display-4 white">{{ partners | rdf_property: "rdfs:label", page.language }}</h2>
    {% assign partnersList = partners | rdf_container %}
    <div class="lswt-card-columns">
      {% for partner in partnersList %}
      <div class="card">
        <a href="{{ partner | rdf_property: "foaf:homepage" }}">
        <img src="{{ partner | rdf_property: "foaf:depiction" }}" class="w-100 px-3 py-3">
        </a>
      </div>
    {% endfor %}
    <div class="tiny white">
      Christoph Wagener / https://de.wikipedia.org/wiki/Benutzer:Cwagener / copyleft
    </div>
    </div>
  </div>
</div>

<div class="section" id="ImpressumSection" data-anchor="Impressum">
  <div class="container">
    {% if page.language == "en" %}
    <h2 class="display-4">Technique</h2>
    This page is build with <a href="https://github.com/AKSW/jekyll-rdf">Jekyll RDF</a> + <a href="https://getbootstrap.com/">bootstrap</a> + <a href="https://alvarotrigo.com/fullPage/">fullPage.js</a>.
    Fork of the <a href="https://github.com/AKSW/lswt2019.aksw.org">LSWT19</a> website.
    <h2 class="display-4">Imprint</h2>
    <ul class="nav flex-column">
      <li><a href="https://www.iwm.fraunhofer.de/de/impressum.html">Imprint</a></li>
      <li><a href="https://www.iwm.fraunhofer.de/de/datenschutzerklaerung.html">Privacy Policy</a></li>
      <li><a href="https://infai.org/das-institut/kontakt/">Contact</a></li>
      <li>Copyright {{ 'now' | date: "%Y" }} Fraunhofer-Institut für Werkstoffmechanik IWM</li>
    </ul>
    {% else %}
    <h2 class="display-4">Technik</h2>
    Die Seite wurde mit <a href="https://github.com/AKSW/jekyll-rdf">Jekyll RDF</a> + <a href="https://getbootstrap.com/">bootstrap</a> + <a href="https://alvarotrigo.com/fullPage/">fullPage.js</a> gebaut.
    Fork der <a href="https://github.com/AKSW/lswt2019.aksw.org">LSWT19</a> Seite.
    <h2 class="display-4">Impressum</h2>
    <ul class="nav flex-column">
      <li><a href="https://www.iwm.fraunhofer.de/de/impressum.html">Impressum</a></li>
      <li><a href="https://www.iwm.fraunhofer.de/de/datenschutzerklaerung.html">Datenschutzerklärung</a></li>
      <li><a href="https://infai.org/das-institut/kontakt/">Kontaktformular</a></li>
      <li>Copyright {{ 'now' | date: "%Y" }} Fraunhofer-Institut für Werkstoffmechanik IWM</li>
    </ul>
    {% endif %}
  </div>
</div>
