h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
}

.dark-theme {
  color: #e8ebed;
}

.dark-theme a {
  color: #8bc3ff;
}

.dark-theme a:hover {
  color: #71b5ff;
}

.bluebg-theme a {
  color: #8bc3ff;
}

.bluebg-theme a:hover {
  color: #71b5ff;
}


.light-theme a {
  color: #0056b3;
}

.light-theme a:hover {
  color: #003d80;
}

#HomeSection {
  background-size: cover;
  background-position: center;
  background-image: url("/images/Web_BG_pfade_narrow.svg")
}

@media (min-aspect-ratio: 6/5) { /* and (max-aspect-ratio: 15/5)  */
  #HomeSection {
    background-size: cover;
    background-position: center;
    background-image: url("/images/Web_BG_pfade.svg")
  }
}

#DateSection {
  background-size: cover;
  background-position: center;
  background-image: url("/images/bg/HG_1_215InnsideLeipzig-Roof_Top_View.jpg")
}

#LocationSection {
  background-size: cover;
  background-position: center;
  background-image: url("/images/bg/223InnsideLeipzig-Igloos_Rooftop_Bar_Cabana.jpg")
}
