h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
}

.dark-theme {
  color: #e8ebed;
}

a {
  // color: #215063;
  color: #3887a7;
}

.btn-success {
  background-color: #b72c37;
  border-color: #b72c37;
}

.jumbotron {
  background-color: #fff;
}

.jumbotron-program {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


#HomeSection {
  background-size: cover;
  background-position: center;
  background-image: url("/images/Web_BG_pfade_narrow.svg")
}

@media (min-aspect-ratio: 6/5) { /* and (max-aspect-ratio: 15/5)  */
  #HomeSection {
    background-size: cover;
    background-position: center;
    background-image: url("/images/Web_BG_pfade.svg")
  }
}

.section {
  background-size: cover;
  background-position: center;
  // background-image: url("/images/bg/bg.png")
}

#DateSection {
  background-image: url("/images/bg/About.jpg")
}

#LocationSection {
}

#ProgrammSection {
  background-image: url("/images/bg/Programm.jpg")
}

#TeamSection {
  //background-image: url("/images/bg/Location.jpg")
}

#PartnerSection {
  background-image: url("/images/bg/Partner.jpg")
}

#HackatonSection {
}

#PreviousSection {
  //background-image: url("/images/bg/Partner.jpg")
}

.pause {
  color: grey;
  font-size: 1.1em;
  font-style: italic;
}

@include media-breakpoint-up(md) {
  .w-md-40 {
    width: 40%
  }
}

.fp-controlArrow {
  margin-right: 3rem;
  margin-left: 3rem;
}


.jumbotron-program h3 {
  margin-bottom: 0rem
}

//
// Columns
// https://github.com/twbs/bootstrap/blob/master/scss/_card.scss
//

.lswt-card-columns {
  .card {
    margin-bottom: $card-columns-margin;
  }

  @include media-breakpoint-up(sm) {
    column-count: 2;
    column-gap: $card-columns-gap;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }

  @include media-breakpoint-up(lg) {
    column-count: 3;
    column-gap: $card-columns-gap;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}
